/* src/index.css */
@import "tailwindcss";

@theme {
  --color-ecommerce-primary: #3b82f6;
  --color-ecommerce-dark: #1e293b;
  --color-ecommerce-accent: #f59e0b;
}

/* Opcional: Si quieres que el modo oscuro funcione por clase */
@variant dark (&:where(.dark, .dark *));